<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.twarge.dexef.dxf</string>
				<string>org.libreoffice.dxf-document</string>
				<string>com.firmshell.dxfdrawing</string>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>32</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).ThumbnailProvider</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Drawing Exchange Format</string>
			<key>UTTypeIdentifier</key>
			<string>org.libreoffice.dxf-document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/vnd.dxf</string>
					<string>application/dxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Drawing Exchange Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.firmshell.dxfdrawing</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/vnd.dxf</string>
					<string>application/dxf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
