<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>DeXeF</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dxf</string>
				<string>DXF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DXFDocumentIcon-320.png</string>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>DXFDocumentIcon-64.png</string>
				<string>DXFDocumentIcon-320.png</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/vnd.dxf</string>
				<string>application/dxf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Drawing Exchange Format</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.twarge.dexef.dxf</string>
				<string>org.libreoffice.dxf-document</string>
				<string>com.firmshell.dxfdrawing</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Twarge LLC.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Drawing Exchange Format</string>
			<key>UTTypeIconFile</key>
			<string>DXFDocumentIcon-320.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.twarge.dexef.dxf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dxf</string>
				</array>
				<key>public.mime-type</key>
				<string>image/vnd.dxf</string>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Drawing Exchange Format</string>
			<key>UTTypeIconFile</key>
			<string>DXFDocumentIcon-320.png</string>
			<key>UTTypeIdentifier</key>
			<string>org.libreoffice.dxf-document</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/vnd.dxf</string>
					<string>application/dxf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.text</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Drawing Exchange Format</string>
			<key>UTTypeIconFile</key>
			<string>DXFDocumentIcon-320.png</string>
			<key>UTTypeIdentifier</key>
			<string>com.firmshell.dxfdrawing</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dxf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/vnd.dxf</string>
					<string>application/dxf</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
